p {
    color: orange;
}
.red{color: red;}
.orange{color: orange}
.yellow{color: yellow}
.green{color: green}
.blue{color: blue}
.navy{color: navy}
.purple{color: purple}

h1{
    color: red;
}

#list{list-style: none;}
#list:first-child{color: crimson; font-size: 20px;}